<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-offset-3 col-sm-6">
      <div class="contacts-container">
        <h3>Add New Contact</h3>
        <hr />
        <form (ngSubmit)="onSubmit()" [formGroup]="addContact">
          <div class="addimg">
            <div class="avatar-upload">
              <div class="avatar-edit">
                <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" (change)="readURL($event)" />
                <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                <img id="imagePreview" [src]="imageSrc" #Datavalue />
              </div>
            </div>
          </div>
          <input type="text" formControlName="image" [value]="Datavalue.src" style="display: none;" />
          <div class="form-group">
            <input type="text" class="form-control form-input" placeholder="First Name" formControlName="firstName" />
            <div class="errormsg" *ngIf="addContact.get('firstName').hasError('required') && addContact.touched">
              this field is requeired
            </div>
            <input type="text" class="form-control form-input" placeholder="Last Name" formControlName="lastName" />
            <div class="errormsg" *ngIf="addContact.get('lastName').hasError('required') && addContact.touched">
              this field is requeired
            </div>
            <input type="tel" class="form-control form-input" placeholder="Phone Number"
              formControlName="mobileNumber" />
            <div class="errormsg" *ngIf="addContact.get('mobileNumber').hasError('required') && addContact.touched">
              this field is requeired
            </div>
          </div>
          <button type="submit" class="btn btn-add" [disabled]="!addContact.valid">Add
            Contact</button>
          <button type="button" class="btn btn-cancel" [routerLink]="['']">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
